* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
}

.header {
    width: 100%;
    text-align: center;
    margin: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    height: 900px;
    width: 900px;
    border: 1px solid;
    margin-bottom: 25px;

}

.grid-item {
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

button {
    background-color: rgba(139, 133, 133, 0.308);
    border-radius: 5px;
    border-style:outset;
    margin-top: 10px;
    width: 100px;
    padding: 5px;
}